<div style="height: 100%; margin-top: 30px;">
    <div class="card" style="max-width: 20rem;">
        <!-- Card Header -->
        <div class="card-header">
        Lista de Caracteristicas App
        </div>
        <!-- List Group -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">The Sun will come back <span class="close">×</span></li>
          <li class="list-group-item">The Sun won't come back <span class="close">×</span></li>
          <li class="list-group-item">It will have babies and spawn thousands more suns <span class="close">×</span></li>
          <li class="list-group-item">Good night!<span class="close">×</span></li>
        </ul>
    </div>
</div>
