<style>
    .black-header, .black-list{
        background-color: #202020;
        color:white;
    }
    .black-list:hover{
        background-color: #202020bf;
    }
    .border-list{
        border-bottom: 1px solid rgba(239, 231, 231, 0.15);
    }
    .cross-red{
        color:red;
        text-shadow: none;
        opacity: 1;
    }
    .cross-red:hover{
        color:#f8442abd !important;
    }
    .list-empty{
        background-color: #2020208a;
        color: white;
    }

</style>


<div style="height: 100%; margin-top: 30px;">
    <div class="card" style="max-width: 20rem;">
        <!-- Card Header -->
        <div class="card-header black-header border-list">
            <h6>Características Agregadas</h6>
        </div>
        <!-- List Group -->
        <ul class="list-group list-group-flush border-list">
          <li class="list-group-item black-list" *ngFor="let item of listaCaracteristicas">
            {{item.nombre}}<span class="close cross-red" (click)="EliminarModulos(item)">×</span>
          </li>
          <li class="list-group-item list-empty" *ngIf="listaCaracteristicas.length == 0">Aquí estarán tus características..</li>
        </ul>
    </div>
</div>
