  <!-- START FOOTER DESIGN AREA -->
  <footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="footer-text">
                    <h6>&copy;copyright | Generador de Apps 2018. Developed by GL</h6>
                </div>

            </div>

            <div class="col-md-6">
                <div class="footer-social-link">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href=""><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / END CONTACT DETAILS DESIGN AREA -->