 <!-- START FEATURES DESIGN AREA -->
 <section id="service" class="service-area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="section-title">
                  <h2>Configura tu App</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div>
          </div>
      </div><!--  -->
      <div class="row">
          <div class="col-md-offset-4 col-md-4 ">
              <p> Introduce el nombre de tu App.</p>
              <input type="text" name="app_id" id="app_id" placeholder="App ID" class="col-md-12">
          </div>
      </div>
      <div class="row">
          <div class="row">
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado">
                      <input type="hidden" class="modulo" name="modulo_html" id="modulo_html" value="0">
                      <div class="service-icon"><i class="fa fa-html5" aria-hidden="true"></i>
                      </div>
                      <h4>HTML</h4>
                      <p>Importa el código html</p>
                      <br>
                      <input type="file" name="html" id="html" >
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado service-active">
                      <input type="hidden" class="modulo" name="modulo_pdf" id="modulo_pdf" value="0">
                      <div class="service-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                      </div>
                      <h4>Lector PDF</h4>
                      <p>Importa el archivo PDF</p>
                      <br>
                      <input type="file" name="pdf" id="pdf">
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado">
                      <input type="hidden" class="modulo" name="modulo_facebook" id="modulo_facebook" value="0">
                      <div class="service-icon"><i class="fa fa-facebook" aria-hidden="true"></i>
                      </div>
                      <h4>Facebook</h4>
                      <p> Introduce el Facebook ID. (?) </p>
                      <br>
                      <input type="text" name="facebook" id="facebook" placeholder="Facebook ID" class="col-md-12">
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
          </div>
          <div class="row">
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado service-active">
                      <input type="hidden" class="modulo" name="modulo_twitter" id="modulo_twitter" value="0">
                      <div class="service-icon"><i class="fa fa-twitter" aria-hidden="true"></i>
                      </div>
                      <h4>Twitter</h4>
                      <p> Introduce el usuario de tu perfil de Twitter. (?) </p>
                      <br>
                      <input type="text" name="twitter" id="twitter" placeholder="Twitter" class="col-md-12">
                      <br><br><br><br><br>
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado">
                      <input type="hidden" class="modulo" name="modulo_radio" id="modulo_radio" value="0">
                      <div class="service-icon"><i class="fa fa-soundcloud" aria-hidden="true"></i>
                      </div>
                      <h4>Radio en Linea</h4>
                      <p> Introduce la información de la estación. (?) </p>
                      <br>
                      <input type="text" name="titulo" id="radio_titulo" placeholder="Título " class="col-md-12">
                      <input type="text" name="descripcion" id="radio_descripcion" placeholder="Descripción" class="col-md-12">
                      <input type="text" name="url" id="radio_url" placeholder="URL Estación" class="col-md-12">
                      
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado service-active">
                      <input type="hidden" class="modulo" name="modulo_contacto" id="modulo_contacto" value="0">
                      <div class="service-icon"><i class="fa fa-user" aria-hidden="true"></i>
                      </div>
                      <h4>Info de Contacto</h4>
                      <p> Introduce la información de contacto. (?) </p>
                      <br>
                      
                      <input type="text" name="nombre" id="contacto_nombre" placeholder="Nombre " class="col-md-12"><br>
                      <input type="text" name="telefono" id="contacto_telefono" placeholder="Telefono" class="col-md-12"><br>
                      <input type="text" name="direccion" id="contacto_direccion" placeholder="Dirección" class="col-md-12"><br>
                      <input type="text" name="email" id="contacto_email" placeholder="Email" class="col-md-12">    <br>
                      <br>
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
          </div>
          <div class="row">
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado">
                      <input type="hidden" class="modulo" name="modulo_youtube" id="modulo_youtube" value="0">
                      <div class="service-icon"><i class="fa fa-youtube" aria-hidden="true"></i>
                      </div>
                      <h4>Youtube</h4>
                      <p> Introduce el ID del canal de youtube. (?) </p>
                      <br>
                      <input type="text" name="youtube" id="youtube" placeholder="Youtube" class="col-md-12">
                      <br>
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado service-active">
                      <input type="hidden" class="modulo" name="modulo_form" id="modulo_form" value="0">
                      <div class="service-icon"><i class="fa fa-google" aria-hidden="true"></i>
                      </div>
                      <h4>Google Form</h4>
                      <p> Introduce el link de tu Formulario de Google. (?) </p>
                      <br>
                      <input type="text" name="google_form" id="google_form" placeholder="Formulario de Google" class="col-md-12">
                      <br>
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
              <!-- START SINGLE FEATURES DESIGN AREA -->
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                  <div class="single-service deshabilitado">
                      <input type="hidden" class="modulo" name="modulo_blog" id="modulo_blog" value="0">
                      <div class="service-icon"><i class="fa fa-wordpress" aria-hidden="true"></i>
                      </div>
                      <h4>Blog</h4>
                      <p> Introduce el el enlace de tu Blog. (?) </p>
                      <br>
                      <input type="text" name="blog" id="blog" placeholder="Enlace a tu Blog" class="col-md-12">
                      <br>
                  </div>
              </div>
              <!-- / END SINGLE FEATURES DESIGN AREA -->
          </div>
      </div>
      <br><br>
      <div class="row">
          <div class="col-md-offset-9 col-md-3 ">
              <p> Terminaste la configuración ? </p>
              <button id="btnCrear" type="button" class="btn btn-success btn-lg col-md-12">Crear App</button>
          </div>
      </div>

  </div>
</section>
<!-- / END SERVICE FEATURES AREA -->