<!-- START FEATURES DESIGN AREA -->
<section id="service" class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Configura tu App</h2>
                    <p>[DESCRIPCIÓN]</p>
                </div>
            </div>
        </div><!--  -->
        <div class="row">
            <div class="col-md-offset-4 col-md-4 ">
                <div class="form-group">
                    <label for="recipient-name">Introduce el nombre de tu App.</label>
                    <input type="text" class="form-control" 
                        id="recipient-name" placeholder="App ID">
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-md-4">
                <app-list-modules></app-list-modules>
            </div>
            <div class="col-xs-7 col-md-8">
                <app-select-modules></app-select-modules>
            </div>
            <div class="col-xs-5 col-md-4 imagen">
                <div class="row mt-4">
                    <div class="col-md-12 mt-4">
                            <h2 class="mt-4 ml-2">hola francox</h2>
                    </div>
                </div>
              
              
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-offset-9 col-md-3 ">
                <p> Terminaste la configuración ? </p>
                <button id="btnCrear" type="button" class="btn btn-success btn-lg col-md-12">Crear App</button>
            </div>
        </div>

    </div>
</section>
<!-- / END SERVICE FEATURES AREA -->