<!-- START FEATURES DESIGN AREA -->
<section id="service" class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Configura tu App</h2>
                    <p>Escoge los modulos que quieras para tu app y agregalas!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="recipient-name">Introduce el nombre de tu App.</label>
                    <input type="text" class="form-control" id="recipient-name" placeholder="App ID">
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-offset-4 col-md-4">
                <button id="btnCrear" type="button" class="btn btn-success btn-lg col-md-12 btn-crear-app">Crear App</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 imagen">
                <app-preview-phone></app-preview-phone>
            </div>
            <div class="col-md-5">
                <app-select-modules></app-select-modules>
            </div>
            <div class="col-md-3">
                <app-list-modules></app-list-modules>
            </div>
        </div>
        <br><br>
    </div>
</section>
<!-- / END SERVICE FEATURES AREA -->