
<div>
    <!-- START PRELOADER AREA-->
    <div class="preloader-area">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    <!-- END PRELOADER AREA -->
    <!-- START FEATURES DESIGN AREA -->
    <section id="service" class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Increíbles Características</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon"><i class="fa fa-html5" aria-hidden="true"></i>
                            </div>
                            <h4>HTML</h4>
                            <p>Con este módulo puedes utilizar tu propio código de HTML. </p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service service-active">
                            <div class="service-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </div>
                            <h4>Lector PDF</h4>
                            <p>Activa este módulo si quieres que tus seguidores descarguen información en formato PDF. Los documentos que subes serán vinculados a una URL. </p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon"><i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <h4>Facebook</h4>
                            <p> Con este módulo permitirás a todos tus seguidores ver tus publicaciones de Facebook en tu app al momento. </p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                </div>
                <div class="row">
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service service-active">
                            <div class="service-icon"><i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <h4>Twitter</h4>
                            <p>Tus seguidores tendrán la posibilidad de leer todo lo que publicas en Twitter. Para configurarlo, entra en la URL de tu perfil.</p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon"><i class="fa fa-soundcloud" aria-hidden="true"></i>
                            </div>
                            <h4>Radio en Linea</h4>
                            <p> Comparte tu audio y música activando este módulo. Solo necesitarás tener una url de radio por internet.</p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service service-active">
                            <div class="service-icon"><i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <h4>Info de Contacto</h4>
                            <p> Activa este módulo si quieres que tus seguidores se pongan en contacto contigo. </p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                </div>
                <div class="row">
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon"><i class="fa fa-youtube" aria-hidden="true"></i>
                            </div>
                            <h4>Youtube</h4>
                            <p> Puedes sincronizar con tu app todos los vídeos de tu canal de Youtuve activando este módulo. </p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service service-active">
                            <div class="service-icon"><i class="fa fa-google" aria-hidden="true"></i>
                            </div>
                            <h4>Google Form</h4>
                            <p> Inserta formularios de Google en tu app gracias a este módulo.</p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                    <!-- START SINGLE FEATURES DESIGN AREA -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon"><i class="fa fa-wordpress" aria-hidden="true"></i>
                            </div>
                            <h4>Blog</h4>
                            <p> Esta opción te permitirá incrustar tu blog o una web completa en tu app. De esta forma, tus seguidores podrán navegar por la web sin salir de la aplicación. </p>
                        </div>
                    </div>
                    <!-- / END SINGLE FEATURES DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END SERVICE FEATURES AREA -->

    <!-- START EVER SEEN DOWNLOAD AREA -->
    <section class="ever-seen-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="ever-image">
                        <img src="assets/images/mockup.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="ever-text">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s">La mejor y más fácil manera de tener tu app</h2>
                        <h3 class="wow fadeInUp" data-wow-delay=".4s">Generador de Apps </h3>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque leo nulla, sodales ut laoreet nec, iaculis a est. Mauris quis sem nec ipsum molestie vestibulum at nec ligula. Nulla nec quam malesuada, iaculis arcu id, lacinia tortor. Quisque non sollicitudin enim. Nullam et diam in quam viverra fermentum eu a orci. Suspendisse sit amet tristique lectus. Mauris tristique convallis nulla non mollis. Vivamus et ligula nec ipsum consectetur feugiat vitae nec dui. Curabitur ut luctus justo. Sed varius lorem dui, ut pulvinar dolor pulvinar ac. Maecenas arcu mi, pretium eu vestibulum eu, gravida vel neque. Curabitur vel pretium dui. Duis eu lacus ac urna cursus maximus in id lorem. Curabitur laoreet eleifend egestas. Vivamus a ipsum eget est ornare dictum. Maecenas laoreet, dui congue pulvinar egestas, odio purus sodales ex, quis auctor urna diam in ipsum.</p>

                        <a class="download-button wow fadeInUp" data-wow-delay=".8s" href="#"><i class="fa fa-android"></i>
Google Play</a>
                        <a class="download-button wow fadeInUp" data-wow-delay="1s" href="#"><i class="fa fa-apple"></i>
App store</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END EVER SEEN DOWNLOAD AREA -->

    <!-- START SCREENSHOTS DESIGN AREA -->
    <section id="Screenshots" class="app-slider-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Plantillas</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="app-list">
                    <!-- START SINGLE SCREENSHOTS DESIGN AREA -->
                    <div class="single-app">
                        <a href="assets/images/app/1.jpg" class="work-popup">
                            <img src="assets/images/app/1.jpg" alt="">
                            <span class="item-overlay">
                                </span>
                        </a>
                    </div>
                    <!-- / END SINGLE SCREENSHOTS DESIGN AREA -->
                    <!-- START SINGLE SCREENSHOTS DESIGN AREA -->
                    <div class="single-app">
                        <a href="assets/images/app/2.jpg" class="work-popup">
                            <img src="assets/images/app/2.jpg" alt="">
                            <span class="item-overlay">
                                </span>
                        </a>
                    </div>
                    <!-- / END SINGLE SCREENSHOTS DESIGN AREA -->
                    <!-- START SINGLE SCREENSHOTS DESIGN AREA -->
                    <div class="single-app">
                        <a href="assets/images/app/3.jpg" class="work-popup">
                            <img src="assets/images/app/3.jpg" alt="">
                            <span class="item-overlay">
                                </span>
                        </a>
                    </div>
                    <!-- / END SINGLE SCREENSHOTS DESIGN AREA -->
                    <!-- START SINGLE SCREENSHOTS DESIGN AREA -->
                    <div class="single-app">
                        <a href="assets/images/app/4.jpg" class="work-popup">
                            <img src="assets/images/app/4.jpg" alt="">
                            <span class="item-overlay">
                                </span>
                        </a>
                    </div>
                    <!-- / END SINGLE SCREENSHOTS DESIGN AREA -->
                    <!-- START SINGLE SCREENSHOTS DESIGN AREA -->
                    <div class="single-app">
                        <a href="assets/images/app/1.jpg" class="work-popup">
                            <img src="assets/images/app/1.jpg" alt="">
                            <span class="item-overlay">
                                </span>
                        </a>
                    </div>
                    <!-- / END SINGLE SCREENSHOTS DESIGN AREA -->
                    <!-- START SINGLE SCREENSHOTS DESIGN AREA -->
                    <div class="single-app">
                        <a href="assets/images/app/2.jpg" class="work-popup">
                            <img src="assets/images/app/2.jpg" alt="">
                            <span class="item-overlay">
                                </span>
                        </a>
                    </div>
                    <!-- / END SINGLE SCREENSHOTS DESIGN AREA -->
                    <!-- START SINGLE SCREENSHOTS DESIGN AREA -->
                    <div class="single-app">
                        <a href="assets/images/app/3.jpg" class="work-popup">
                            <img src="assets/images/app/3.jpg" alt="">
                            <span class="item-overlay">
                                </span>
                        </a>
                    </div>
                    <!-- / END SINGLE SCREENSHOTS DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- START SCREENSHOTS DESIGN AREA -->


    <!-- START TOTAL DOWNLOAD DESIGN AREA -->
    <section class="complete-project-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-project-complete">
                        <i class="fa fa-download"></i>
                        <h2 class="counter-num">2352</h2>
                        <h6 class="text-muted">Apps Generadas</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-project-complete complete-active">
                        <i class="fa fa-user"></i>
                        <h2 class="counter-num">1921</h2>
                        <h6 class="text-muted">Clientes Felices</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-project-complete">
                        <i class="fa fa-android"></i>
                        <h2 class="counter-num">560</h2>
                        <h6 class="text-muted">Android</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-project-complete complete-active">
                        <i class="fa fa-apple"></i>
                        <h2 class="counter-num">211</h2>
                        <h6 class="text-muted">Apple</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END TOTAL DOWNLOAD DESIGN AREA -->

    <!-- START TEAM DESIGN AREA -->
    <section id="team" class="team-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Nuestro equipo</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- START SINGLE TEAM DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="single-team">
                        <img src="assets/images/team/team1.jpg" alt="">
                        <div class="team-description">
                            <h4>Jonathon doe</h4>
                            <h6 class="text-muted">CEO/Founder of Generador de Apps</h6>
                        </div>
                    </div>
                </div>
                <!-- / END SINGLE TEAM DESIGN AREA -->
                <!-- START SINGLE TEAM DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="single-team">
                        <img src="assets/images/team/team2.jpg" alt="">
                        <div class="team-description">
                            <h4>Jessica joe</h4>
                            <h6 class="text-muted">app designer</h6>
                        </div>
                    </div>
                </div>
                <!-- / END SINGLE TEAM DESIGN AREA -->
                <!-- START SINGLE TEAM DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="single-team">
                        <img src="assets/images/team/team3.jpg" alt="">
                        <div class="team-description">
                            <h4>Thomas adition</h4>
                            <h6 class="text-muted">app developer</h6>
                        </div>
                    </div>
                </div>
                <!-- / END SINGLE TEAM DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END TEAM DESIGN AREA -->


    <!-- START USERS DESIGN AREA -->
    <section id="testimonial" class="testimonial-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Generador de Apps app Users </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial-list wow fadeInUp">
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h6 class="text-muted">john doe</h6>
                            <h6>CEO Google</h6>
                        </div>
                        <img src="assets/images/testimonial/1.jpg" alt="">
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h6 class="text-muted">john doe</h6>
                            <h6>CEO Google</h6>
                        </div>
                        <img src="assets/images/testimonial/2.jpg" alt="">
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h6 class="text-muted">john doe</h6>
                            <h6>CEO Google</h6>
                        </div>
                        <img src="assets/images/testimonial/3.jpg" alt="">
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                    <!-- START SINGLE USERS DESIGN AREA -->
                    <div class="single-testimonial">
                        <div class="single-testi-des">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h6 class="text-muted">john doe</h6>
                            <h6>CEO Google</h6>
                        </div>
                        <img src="assets/images/testimonial/1.jpg" alt="">
                    </div>
                    <!-- / END SINGLE USERS DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END USERS DESIGN AREA -->

    <!-- START PRICING DESIGN AREA -->
    <section id="pricing" class="pricing-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Nuestros Precios</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInLeft" data-wow-delay=".6s">
                    <div class="pricing-box">
                        <div class="pricing-header">

                            <div class="plan-price">
                                Free
                            </div>
                            <div class="plan-month text-muted">
                                por mes
                            </div>
                            <div class="plan-title">
                                <h4>Plan Free</h4>
                            </div>
                        </div>
                        <ul class="list-unstyled plan-features">
                            <li>Actualizaciones</li>
                            <li>Configuración básica</li>
                            <li>Soporte Técnico</li>
                        </ul>
                        <a class="read-more" href="configurar.html">Configurar</a>
                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-delay=".4s">
                    <div class="pricing-box price-active">
                        <div class="pricing-header">

                            <div class="plan-price">
                                $19
                            </div>

                            <div class="plan-month text-muted">
                                por mes
                            </div>
                            <div class="plan-title">
                                <h4>Plan Standard</h4>
                            </div>
                        </div>
                        <ul class="list-unstyled plan-features">
                            <li>Actualizaciones</li>
                            <li>Configuración básica</li>
                            <li>Soporte Técnico</li>
                        </ul>
                        <a class="read-more" href="configurar.html">Configurar</a>
                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
                <!-- START SINGLE PRICING DESIGN AREA -->
                <div class="col-md-4 col-sm-6 wow fadeInRight" data-wow-delay=".6s">
                    <div class="pricing-box">
                        <div class="pricing-header">

                            <div class="plan-price">
                                $99
                            </div>
                            <div class="plan-month text-muted">
                                por mes
                            </div>
                            <div class="plan-title">
                                <h4>Plan Premium</h4>
                            </div>
                        </div>
                        <ul class="list-unstyled plan-features">
                            <li>Actualizaciones</li>
                            <li>Configuración básica</li>
                            <li>Soporte Técnico</li>
                        </ul>
                        <a class="read-more" href="configurar.html">Configurar</a>
                    </div>
                </div>
                <!-- / END SINGLE PRICING DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END PRICING DESIGN AREA -->

    <!-- START DOWNLOAD DESIGN AREA -->
    <section id="download" class="download-area" data-stellar-background-ratio="0.6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="download-text text-center">
                        <h2>Descarga en minutos</h2>
                        <a href=""> <img src="assets/images/android.png" alt=""></a>
                        <a href=""> <img src="assets/images/apple.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END DOWNLOAD DESIGN AREA -->
    <app-contacto></app-contacto>
    <!-- START SCROOL UP DESIGN AREA -->
    <div class="scroll-to-up">
        <div class="scrollup">
            <span class="lnr lnr-chevron-up"></span>
        </div>
    </div>
    <!-- / END SCROOL UP DESIGN AREA -->



   
  </div>
