<div class="row">
    <!--Logo App-->
    <div class="col-xs-4 col-md-4">
        <div class="single-service deshabilitado box box-upload-logo">
            <!-- <input type="hidden" class="modulo" name="modulo_html" id="modulo_html" value="0"> -->
            <div class="service-icon ">
                <i class="fa fa-upload icon-box-white" aria-hidden="true">
                </i>
            </div>
            <h6>Logo App</h6>
            <br>
        </div>
    </div>
    <!--Splash-->
    <div class="col-xs-4 col-md-4">
        <div class="single-service deshabilitado box box-upload-icon">
           <!--  <input type="hidden" class="modulo" name="modulo_pdf" id="modulo_pdf" value="0"> -->
            <div class="service-icon">
                <i class="fa fa-upload" aria-hidden="true"></i>
            </div>
            <h6>Splash App</h6>
            <br>
        </div>
    </div>
    <!--Icono-->
    <div class="col-xs-4 col-md-4" >
        <div class="single-service deshabilitado box box-upload-splash" data-toggle="modal" data-target="#facebook">
            <!-- <input type="hidden" class="modulo" name="modulo_facebook" id="modulo_facebook" value="0"> -->
            <div class="service-icon"><i class="fa fa-upload" aria-hidden="true"></i>
            </div>
            <h6>Icono App</h6>
            <br>
        </div>
    </div>
</div>
<div class="row">
  <!--HTML-->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-html5">
          <!-- <input type="hidden" class="modulo" name="modulo_html" id="modulo_html" value="0"> -->
          <div class="service-icon ">
            <i class="fa fa-html5 icon-box-white" aria-hidden="true">
            </i>
          </div>
          <h6>HTML</h6>
          <br>
      </div>
  </div>
  <!--PDF-->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-pdf">
          <!-- <input type="hidden" class="modulo" name="modulo_pdf" id="modulo_pdf" value="0"> -->
          <div class="service-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </div>
          <h6>Lector PDF</h6>
          <br>
      </div>
  </div>
  <!--Facebook-->
  <div class="col-xs-4 col-md-4" >
      <div class="single-service deshabilitado box box-facebook" data-toggle="modal" data-target="#facebook">
         <!--  <input type="hidden" class="modulo" name="modulo_facebook" id="modulo_facebook" value="0"> -->
          <div class="service-icon"><i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
          <h6>Facebook</h6>
          <br>
      </div>
  </div>
</div>
<div class="row">
  <!--Twitter-->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-twitter" data-toggle="modal" data-target="#twitter">
          <!-- <input type="hidden" class="modulo" name="modulo_twitter" id="modulo_twitter" value="0"> -->
          <div class="service-icon"><i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <h6>Twitter</h6>
          <br>
      </div>
  </div>
  <!--Soundcloud-->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-soundCloud" data-toggle="modal" data-target="#radioLinea">
          <!-- <input type="hidden" class="modulo" name="modulo_radio" id="modulo_radio" value="0"> -->
          <div class="service-icon"><i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <h6>Sound Cloud</h6>
          <br>
      </div>
  </div>
  <!--Contacto-->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-contacto" data-toggle="modal" data-target="#usuario">
          <!-- <input type="hidden" class="modulo" name="modulo_contacto" id="modulo_contacto" value="0"> -->
          <div class="service-icon"><i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <h6>Contact Form</h6>
          <br>
      </div>
  </div>
</div>
<div class="row">
  <!-- Youtube -->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-youtube" data-toggle="modal" data-target="#youtube">
         <!--  <input type="hidden" class="modulo" name="modulo_youtube" id="modulo_youtube" value="0"> -->
          <div class="service-icon"><i class="fa fa-youtube" aria-hidden="true"></i>
          </div>
          <h6>Youtube</h6>
          <br>
      </div>
  </div>
  <!--Google Form-->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-googleform" data-toggle="modal" data-target="#googleForm">
          <!-- <input type="hidden" class="modulo" name="modulo_form" id="modulo_form" value="0"> -->
          <div class="service-icon"><i class="fa fa-google" aria-hidden="true"></i>
          </div>
          <h6>Google Form</h6>
          <br>
      </div>
  </div>
  <!--Wordpress-->
  <div class="col-xs-4 col-md-4">
      <div class="single-service deshabilitado box box-wordpress" data-toggle="modal" data-target="#wordpress">
          <!-- <input type="hidden" class="modulo" name="modulo_blog" id="modulo_blog" value="0"> -->
          <div class="service-icon">
              <i class="fa fa-wordpress" aria-hidden="true">
              </i>
          </div>
          <h6>Blog</h6>
          <br>
      </div>
  </div>
</div>