<div class="row">
  <!--HTML-->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-html5">
          <input type="hidden" class="modulo" name="modulo_html" id="modulo_html" value="0">
          <div class="service-icon ">
            <i class="fa fa-html5 icon-box-white" aria-hidden="true">
            </i>
          </div>
          <h4>HTML</h4>
          <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
              </div>
          <br>
      </div>
  </div>
  <!--PDF-->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-pdf">
          <input type="hidden" class="modulo" name="modulo_pdf" id="modulo_pdf" value="0">
          <div class="service-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </div>
          <h4>Lector PDF</h4>
          <br>
      </div>
  </div>
  <!--Facebook-->
  <div class="col-md-4 col-sm-6 col-xs-12 " >
      <div class="single-service deshabilitado box box-facebook" data-toggle="modal" data-target="#facebook">
          <input type="hidden" class="modulo" name="modulo_facebook" id="modulo_facebook" value="0">
          <div class="service-icon"><i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
          <h4>Facebook</h4>
          <br>
      </div>
  </div>
</div>
<div class="row">
  <!--Twitter-->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-twitter" data-toggle="modal" data-target="#twitter">
          <input type="hidden" class="modulo" name="modulo_twitter" id="modulo_twitter" value="0">
          <div class="service-icon"><i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
          <h4>Twitter</h4>
          <br>
      </div>
  </div>
  <!--Soundcloud-->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-soundCloud" data-toggle="modal" data-target="#radioLinea">
          <input type="hidden" class="modulo" name="modulo_radio" id="modulo_radio" value="0">
          <div class="service-icon"><i class="fa fa-soundcloud" aria-hidden="true"></i>
          </div>
          <h4>Radio en Linea</h4>
          <br>
      </div>
  </div>
  <!--Contacto-->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-contacto" data-toggle="modal" data-target="#usuario">
          <input type="hidden" class="modulo" name="modulo_contacto" id="modulo_contacto" value="0">
          <div class="service-icon"><i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <h4>Contactanos</h4>
          <br>
      </div>
  </div>
</div>
<div class="row">
  <!-- Youtube -->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-youtube" data-toggle="modal" data-target="#youtube">
          <input type="hidden" class="modulo" name="modulo_youtube" id="modulo_youtube" value="0">
          <div class="service-icon"><i class="fa fa-youtube" aria-hidden="true"></i>
          </div>
          <h4>Youtube</h4>
          <br>
      </div>
  </div>
  <!--Google Form-->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-googleform" data-toggle="modal" data-target="#googleForm">
          <input type="hidden" class="modulo" name="modulo_form" id="modulo_form" value="0">
          <div class="service-icon"><i class="fa fa-google" aria-hidden="true"></i>
          </div>
          <h4>Google Form</h4>
          <br>
      </div>
  </div>
  <!--Wordpress-->
  <div class="col-md-4 col-sm-6 col-xs-12 ">
      <div class="single-service deshabilitado box box-wordpress" data-toggle="modal" data-target="#wordpress">
          <input type="hidden" class="modulo" name="modulo_blog" id="modulo_blog" value="0">
          <div class="service-icon"><i class="fa fa-wordpress" aria-hidden="true"></i>
          </div>
          <h4>Blog</h4>
          <br>
      </div>
  </div>
</div>