
<div class="phone view_2" id="phone_1" style="width: 360px; height: 640px; max-width: 360px; max-height: 640px;">
    <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" style="font-size:15px;" (click)="openSideBar();">&#9776;</a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeSideBar();">&times;</a>
        <!-- <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a> -->
    </div>

</div>