.bg-facebook{
    background-color: #4267b2;
}
.bg-twitter{
    background-color: #1da1f2;
}
.bg-radioEstacion{
    background-color: #f50;
}
.bg-youtube{
    background-color: #ff0000;
}
.bg-usuario{
    background-color: #28a745;
}

.bg-google{
    background-color: #673ab7;
}

.bg-wordpress{
    background-color: #028cb0;
}
.bg-html{
    background-color: #fe4c1e;
}